!!!
%html

  %head
    %title adjective noun
    :css
      * {
        margin: 0;
        padding: 0;
      }

      body, html {
        background: #111;
        text-align: center;
      }

      #phrase {
        font-family: Courier, fixed-width;
        font-size: 3em;
        margin: 100px auto;
        display: inline-block;
        color: #ccc;
      }
    
  %body
  
    #phrase= @phrase